---
class: detail
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">
  <head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/coming-soon.css" | relative_url }}">
    {%- feed_meta -%}
    <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  </head>
  <body class="text-center">
    <div class="d-flex w-100 h-100 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <p class="masthead-brand">
            <img src="/img/logo.png" alt="mono collection logo">
          </p>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">COMING SOON</h1>
      </main>

      <footer class="mastfoot mt-auto d-flex w-100">
        <div class="inner">
          <p style="margin: 0;">© MONO COLLECTION</p>
        </div>
      </footer>

      {%- include webfonts.html -%}
    </div>
  </body>
</html>
